/** Gomarketin Emoji Powered by: Google Noto Font https://www.gomarketin.com */
._gc_emoji { display: inline-block; vertical-align: top; width: 34px; height: 32px; margin: 5px; background-image: url("https://www.gomarketin.com/cdn/emoji//img/emoji-sprite-34x32.png"); }
._gc_emoji._u0023 { background-position: -0px -0px; }
._gc_emoji._u0023_20e3 { background-position: -34px -0px; }
._gc_emoji._u0030 { background-position: -68px -0px; }
._gc_emoji._u0030_20e3 { background-position: -102px -0px; }
._gc_emoji._u0031 { background-position: -136px -0px; }
._gc_emoji._u0031_20e3 { background-position: -170px -0px; }
._gc_emoji._u0032 { background-position: -204px -0px; }
._gc_emoji._u0032_20e3 { background-position: -238px -0px; }
._gc_emoji._u0033 { background-position: -272px -0px; }
._gc_emoji._u0033_20e3 { background-position: -306px -0px; }
._gc_emoji._u0034 { background-position: -340px -0px; }
._gc_emoji._u0034_20e3 { background-position: -374px -0px; }
._gc_emoji._u0035 { background-position: -408px -0px; }
._gc_emoji._u0035_20e3 { background-position: -442px -0px; }
._gc_emoji._u0036 { background-position: -476px -0px; }
._gc_emoji._u0036_20e3 { background-position: -510px -0px; }
._gc_emoji._u0037 { background-position: -544px -0px; }
._gc_emoji._u0037_20e3 { background-position: -578px -0px; }
._gc_emoji._u0038 { background-position: -612px -0px; }
._gc_emoji._u0038_20e3 { background-position: -646px -0px; }
._gc_emoji._u0039 { background-position: -680px -0px; }
._gc_emoji._u0039_20e3 { background-position: -714px -0px; }
._gc_emoji._u00a9 { background-position: -748px -0px; }
._gc_emoji._u00ae { background-position: -782px -0px; }
._gc_emoji._u1f004 { background-position: -816px -0px; }
._gc_emoji._u1f0cf { background-position: -850px -0px; }
._gc_emoji._u1f170 { background-position: -884px -0px; }
._gc_emoji._u1f171 { background-position: -918px -0px; }
._gc_emoji._u1f17e { background-position: -952px -0px; }
._gc_emoji._u1f17f { background-position: -0px -32px; }
._gc_emoji._u1f18e { background-position: -34px -32px; }
._gc_emoji._u1f191 { background-position: -68px -32px; }
._gc_emoji._u1f192 { background-position: -102px -32px; }
._gc_emoji._u1f193 { background-position: -136px -32px; }
._gc_emoji._u1f194 { background-position: -170px -32px; }
._gc_emoji._u1f195 { background-position: -204px -32px; }
._gc_emoji._u1f196 { background-position: -238px -32px; }
._gc_emoji._u1f197 { background-position: -272px -32px; }
._gc_emoji._u1f198 { background-position: -306px -32px; }
._gc_emoji._u1f199 { background-position: -340px -32px; }
._gc_emoji._u1f19a { background-position: -374px -32px; }
._gc_emoji._u1f1e6 { background-position: -408px -32px; }
._gc_emoji._u1f1e7 { background-position: -442px -32px; }
._gc_emoji._u1f1e8 { background-position: -476px -32px; }
._gc_emoji._u1f1e9 { background-position: -510px -32px; }
._gc_emoji._u1f1ea { background-position: -544px -32px; }
._gc_emoji._u1f1eb { background-position: -578px -32px; }
._gc_emoji._u1f1ec { background-position: -612px -32px; }
._gc_emoji._u1f1ed { background-position: -646px -32px; }
._gc_emoji._u1f1ee { background-position: -680px -32px; }
._gc_emoji._u1f1ef { background-position: -714px -32px; }
._gc_emoji._u1f1f0 { background-position: -748px -32px; }
._gc_emoji._u1f1f1 { background-position: -782px -32px; }
._gc_emoji._u1f1f2 { background-position: -816px -32px; }
._gc_emoji._u1f1f3 { background-position: -850px -32px; }
._gc_emoji._u1f1f4 { background-position: -884px -32px; }
._gc_emoji._u1f1f5 { background-position: -918px -32px; }
._gc_emoji._u1f1f6 { background-position: -952px -32px; }
._gc_emoji._u1f1f7 { background-position: -0px -64px; }
._gc_emoji._u1f1f8 { background-position: -34px -64px; }
._gc_emoji._u1f1f9 { background-position: -68px -64px; }
._gc_emoji._u1f1fa { background-position: -102px -64px; }
._gc_emoji._u1f1fb { background-position: -136px -64px; }
._gc_emoji._u1f1fc { background-position: -170px -64px; }
._gc_emoji._u1f1fd { background-position: -204px -64px; }
._gc_emoji._u1f1fe { background-position: -238px -64px; }
._gc_emoji._u1f1ff { background-position: -272px -64px; }
._gc_emoji._u1f201 { background-position: -306px -64px; }
._gc_emoji._u1f202 { background-position: -340px -64px; }
._gc_emoji._u1f21a { background-position: -374px -64px; }
._gc_emoji._u1f22f { background-position: -408px -64px; }
._gc_emoji._u1f232 { background-position: -442px -64px; }
._gc_emoji._u1f233 { background-position: -476px -64px; }
._gc_emoji._u1f234 { background-position: -510px -64px; }
._gc_emoji._u1f235 { background-position: -544px -64px; }
._gc_emoji._u1f236 { background-position: -578px -64px; }
._gc_emoji._u1f237 { background-position: -612px -64px; }
._gc_emoji._u1f238 { background-position: -646px -64px; }
._gc_emoji._u1f239 { background-position: -680px -64px; }
._gc_emoji._u1f23a { background-position: -714px -64px; }
._gc_emoji._u1f250 { background-position: -748px -64px; }
._gc_emoji._u1f251 { background-position: -782px -64px; }
._gc_emoji._u1f300 { background-position: -816px -64px; }
._gc_emoji._u1f301 { background-position: -850px -64px; }
._gc_emoji._u1f302 { background-position: -884px -64px; }
._gc_emoji._u1f303 { background-position: -918px -64px; }
._gc_emoji._u1f304 { background-position: -952px -64px; }
._gc_emoji._u1f305 { background-position: -0px -96px; }
._gc_emoji._u1f306 { background-position: -34px -96px; }
._gc_emoji._u1f307 { background-position: -68px -96px; }
._gc_emoji._u1f308 { background-position: -102px -96px; }
._gc_emoji._u1f309 { background-position: -136px -96px; }
._gc_emoji._u1f30a { background-position: -170px -96px; }
._gc_emoji._u1f30b { background-position: -204px -96px; }
._gc_emoji._u1f30c { background-position: -238px -96px; }
._gc_emoji._u1f30d { background-position: -272px -96px; }
._gc_emoji._u1f30e { background-position: -306px -96px; }
._gc_emoji._u1f30f { background-position: -340px -96px; }
._gc_emoji._u1f310 { background-position: -374px -96px; }
._gc_emoji._u1f311 { background-position: -408px -96px; }
._gc_emoji._u1f312 { background-position: -442px -96px; }
._gc_emoji._u1f313 { background-position: -476px -96px; }
._gc_emoji._u1f314 { background-position: -510px -96px; }
._gc_emoji._u1f315 { background-position: -544px -96px; }
._gc_emoji._u1f316 { background-position: -578px -96px; }
._gc_emoji._u1f317 { background-position: -612px -96px; }
._gc_emoji._u1f318 { background-position: -646px -96px; }
._gc_emoji._u1f319 { background-position: -680px -96px; }
._gc_emoji._u1f31a { background-position: -714px -96px; }
._gc_emoji._u1f31b { background-position: -748px -96px; }
._gc_emoji._u1f31c { background-position: -782px -96px; }
._gc_emoji._u1f31d { background-position: -816px -96px; }
._gc_emoji._u1f31e { background-position: -850px -96px; }
._gc_emoji._u1f31f { background-position: -884px -96px; }
._gc_emoji._u1f320 { background-position: -918px -96px; }
._gc_emoji._u1f330 { background-position: -952px -96px; }
._gc_emoji._u1f331 { background-position: -0px -128px; }
._gc_emoji._u1f332 { background-position: -34px -128px; }
._gc_emoji._u1f333 { background-position: -68px -128px; }
._gc_emoji._u1f334 { background-position: -102px -128px; }
._gc_emoji._u1f335 { background-position: -136px -128px; }
._gc_emoji._u1f337 { background-position: -170px -128px; }
._gc_emoji._u1f338 { background-position: -204px -128px; }
._gc_emoji._u1f339 { background-position: -238px -128px; }
._gc_emoji._u1f33a { background-position: -272px -128px; }
._gc_emoji._u1f33b { background-position: -306px -128px; }
._gc_emoji._u1f33c { background-position: -340px -128px; }
._gc_emoji._u1f33d { background-position: -374px -128px; }
._gc_emoji._u1f33e { background-position: -408px -128px; }
._gc_emoji._u1f33f { background-position: -442px -128px; }
._gc_emoji._u1f340 { background-position: -476px -128px; }
._gc_emoji._u1f341 { background-position: -510px -128px; }
._gc_emoji._u1f342 { background-position: -544px -128px; }
._gc_emoji._u1f343 { background-position: -578px -128px; }
._gc_emoji._u1f344 { background-position: -612px -128px; }
._gc_emoji._u1f345 { background-position: -646px -128px; }
._gc_emoji._u1f346 { background-position: -680px -128px; }
._gc_emoji._u1f347 { background-position: -714px -128px; }
._gc_emoji._u1f348 { background-position: -748px -128px; }
._gc_emoji._u1f349 { background-position: -782px -128px; }
._gc_emoji._u1f34a { background-position: -816px -128px; }
._gc_emoji._u1f34b { background-position: -850px -128px; }
._gc_emoji._u1f34c { background-position: -884px -128px; }
._gc_emoji._u1f34d { background-position: -918px -128px; }
._gc_emoji._u1f34e { background-position: -952px -128px; }
._gc_emoji._u1f34f { background-position: -0px -160px; }
._gc_emoji._u1f350 { background-position: -34px -160px; }
._gc_emoji._u1f351 { background-position: -68px -160px; }
._gc_emoji._u1f352 { background-position: -102px -160px; }
._gc_emoji._u1f353 { background-position: -136px -160px; }
._gc_emoji._u1f354 { background-position: -170px -160px; }
._gc_emoji._u1f355 { background-position: -204px -160px; }
._gc_emoji._u1f356 { background-position: -238px -160px; }
._gc_emoji._u1f357 { background-position: -272px -160px; }
._gc_emoji._u1f358 { background-position: -306px -160px; }
._gc_emoji._u1f359 { background-position: -340px -160px; }
._gc_emoji._u1f35a { background-position: -374px -160px; }
._gc_emoji._u1f35b { background-position: -408px -160px; }
._gc_emoji._u1f35c { background-position: -442px -160px; }
._gc_emoji._u1f35d { background-position: -476px -160px; }
._gc_emoji._u1f35e { background-position: -510px -160px; }
._gc_emoji._u1f35f { background-position: -544px -160px; }
._gc_emoji._u1f360 { background-position: -578px -160px; }
._gc_emoji._u1f361 { background-position: -612px -160px; }
._gc_emoji._u1f362 { background-position: -646px -160px; }
._gc_emoji._u1f363 { background-position: -680px -160px; }
._gc_emoji._u1f364 { background-position: -714px -160px; }
._gc_emoji._u1f365 { background-position: -748px -160px; }
._gc_emoji._u1f366 { background-position: -782px -160px; }
._gc_emoji._u1f367 { background-position: -816px -160px; }
._gc_emoji._u1f368 { background-position: -850px -160px; }
._gc_emoji._u1f369 { background-position: -884px -160px; }
._gc_emoji._u1f36a { background-position: -918px -160px; }
._gc_emoji._u1f36b { background-position: -952px -160px; }
._gc_emoji._u1f36c { background-position: -0px -192px; }
._gc_emoji._u1f36d { background-position: -34px -192px; }
._gc_emoji._u1f36e { background-position: -68px -192px; }
._gc_emoji._u1f36f { background-position: -102px -192px; }
._gc_emoji._u1f370 { background-position: -136px -192px; }
._gc_emoji._u1f371 { background-position: -170px -192px; }
._gc_emoji._u1f372 { background-position: -204px -192px; }
._gc_emoji._u1f373 { background-position: -238px -192px; }
._gc_emoji._u1f374 { background-position: -272px -192px; }
._gc_emoji._u1f375 { background-position: -306px -192px; }
._gc_emoji._u1f376 { background-position: -340px -192px; }
._gc_emoji._u1f377 { background-position: -374px -192px; }
._gc_emoji._u1f378 { background-position: -408px -192px; }
._gc_emoji._u1f379 { background-position: -442px -192px; }
._gc_emoji._u1f37a { background-position: -476px -192px; }
._gc_emoji._u1f37b { background-position: -510px -192px; }
._gc_emoji._u1f37c { background-position: -544px -192px; }
._gc_emoji._u1f380 { background-position: -578px -192px; }
._gc_emoji._u1f381 { background-position: -612px -192px; }
._gc_emoji._u1f382 { background-position: -646px -192px; }
._gc_emoji._u1f383 { background-position: -680px -192px; }
._gc_emoji._u1f384 { background-position: -714px -192px; }
._gc_emoji._u1f385 { background-position: -748px -192px; }
._gc_emoji._u1f386 { background-position: -782px -192px; }
._gc_emoji._u1f387 { background-position: -816px -192px; }
._gc_emoji._u1f388 { background-position: -850px -192px; }
._gc_emoji._u1f389 { background-position: -884px -192px; }
._gc_emoji._u1f38a { background-position: -918px -192px; }
._gc_emoji._u1f38b { background-position: -952px -192px; }
._gc_emoji._u1f38c { background-position: -0px -224px; }
._gc_emoji._u1f38d { background-position: -34px -224px; }
._gc_emoji._u1f38e { background-position: -68px -224px; }
._gc_emoji._u1f38f { background-position: -102px -224px; }
._gc_emoji._u1f390 { background-position: -136px -224px; }
._gc_emoji._u1f391 { background-position: -170px -224px; }
._gc_emoji._u1f392 { background-position: -204px -224px; }
._gc_emoji._u1f393 { background-position: -238px -224px; }
._gc_emoji._u1f3a0 { background-position: -272px -224px; }
._gc_emoji._u1f3a1 { background-position: -306px -224px; }
._gc_emoji._u1f3a2 { background-position: -340px -224px; }
._gc_emoji._u1f3a3 { background-position: -374px -224px; }
._gc_emoji._u1f3a4 { background-position: -408px -224px; }
._gc_emoji._u1f3a5 { background-position: -442px -224px; }
._gc_emoji._u1f3a6 { background-position: -476px -224px; }
._gc_emoji._u1f3a7 { background-position: -510px -224px; }
._gc_emoji._u1f3a8 { background-position: -544px -224px; }
._gc_emoji._u1f3a9 { background-position: -578px -224px; }
._gc_emoji._u1f3aa { background-position: -612px -224px; }
._gc_emoji._u1f3ab { background-position: -646px -224px; }
._gc_emoji._u1f3ac { background-position: -680px -224px; }
._gc_emoji._u1f3ad { background-position: -714px -224px; }
._gc_emoji._u1f3ae { background-position: -748px -224px; }
._gc_emoji._u1f3af { background-position: -782px -224px; }
._gc_emoji._u1f3b0 { background-position: -816px -224px; }
._gc_emoji._u1f3b1 { background-position: -850px -224px; }
._gc_emoji._u1f3b2 { background-position: -884px -224px; }
._gc_emoji._u1f3b3 { background-position: -918px -224px; }
._gc_emoji._u1f3b4 { background-position: -952px -224px; }
._gc_emoji._u1f3b5 { background-position: -0px -256px; }
._gc_emoji._u1f3b6 { background-position: -34px -256px; }
._gc_emoji._u1f3b7 { background-position: -68px -256px; }
._gc_emoji._u1f3b8 { background-position: -102px -256px; }
._gc_emoji._u1f3b9 { background-position: -136px -256px; }
._gc_emoji._u1f3ba { background-position: -170px -256px; }
._gc_emoji._u1f3bb { background-position: -204px -256px; }
._gc_emoji._u1f3bc { background-position: -238px -256px; }
._gc_emoji._u1f3bd { background-position: -272px -256px; }
._gc_emoji._u1f3be { background-position: -306px -256px; }
._gc_emoji._u1f3bf { background-position: -340px -256px; }
._gc_emoji._u1f3c0 { background-position: -374px -256px; }
._gc_emoji._u1f3c1 { background-position: -408px -256px; }
._gc_emoji._u1f3c2 { background-position: -442px -256px; }
._gc_emoji._u1f3c3 { background-position: -476px -256px; }
._gc_emoji._u1f3c4 { background-position: -510px -256px; }
._gc_emoji._u1f3c6 { background-position: -544px -256px; }
._gc_emoji._u1f3c7 { background-position: -578px -256px; }
._gc_emoji._u1f3c8 { background-position: -612px -256px; }
._gc_emoji._u1f3c9 { background-position: -646px -256px; }
._gc_emoji._u1f3ca { background-position: -680px -256px; }
._gc_emoji._u1f3e0 { background-position: -714px -256px; }
._gc_emoji._u1f3e1 { background-position: -748px -256px; }
._gc_emoji._u1f3e2 { background-position: -782px -256px; }
._gc_emoji._u1f3e3 { background-position: -816px -256px; }
._gc_emoji._u1f3e4 { background-position: -850px -256px; }
._gc_emoji._u1f3e5 { background-position: -884px -256px; }
._gc_emoji._u1f3e6 { background-position: -918px -256px; }
._gc_emoji._u1f3e7 { background-position: -952px -256px; }
._gc_emoji._u1f3e8 { background-position: -0px -288px; }
._gc_emoji._u1f3e9 { background-position: -34px -288px; }
._gc_emoji._u1f3ea { background-position: -68px -288px; }
._gc_emoji._u1f3eb { background-position: -102px -288px; }
._gc_emoji._u1f3ec { background-position: -136px -288px; }
._gc_emoji._u1f3ed { background-position: -170px -288px; }
._gc_emoji._u1f3ee { background-position: -204px -288px; }
._gc_emoji._u1f3ef { background-position: -238px -288px; }
._gc_emoji._u1f3f0 { background-position: -272px -288px; }
._gc_emoji._u1f400 { background-position: -306px -288px; }
._gc_emoji._u1f401 { background-position: -340px -288px; }
._gc_emoji._u1f402 { background-position: -374px -288px; }
._gc_emoji._u1f403 { background-position: -408px -288px; }
._gc_emoji._u1f404 { background-position: -442px -288px; }
._gc_emoji._u1f405 { background-position: -476px -288px; }
._gc_emoji._u1f406 { background-position: -510px -288px; }
._gc_emoji._u1f407 { background-position: -544px -288px; }
._gc_emoji._u1f408 { background-position: -578px -288px; }
._gc_emoji._u1f409 { background-position: -612px -288px; }
._gc_emoji._u1f40a { background-position: -646px -288px; }
._gc_emoji._u1f40b { background-position: -680px -288px; }
._gc_emoji._u1f40c { background-position: -714px -288px; }
._gc_emoji._u1f40d { background-position: -748px -288px; }
._gc_emoji._u1f40e { background-position: -782px -288px; }
._gc_emoji._u1f40f { background-position: -816px -288px; }
._gc_emoji._u1f410 { background-position: -850px -288px; }
._gc_emoji._u1f411 { background-position: -884px -288px; }
._gc_emoji._u1f412 { background-position: -918px -288px; }
._gc_emoji._u1f413 { background-position: -952px -288px; }
._gc_emoji._u1f414 { background-position: -0px -320px; }
._gc_emoji._u1f415 { background-position: -34px -320px; }
._gc_emoji._u1f416 { background-position: -68px -320px; }
._gc_emoji._u1f417 { background-position: -102px -320px; }
._gc_emoji._u1f418 { background-position: -136px -320px; }
._gc_emoji._u1f419 { background-position: -170px -320px; }
._gc_emoji._u1f41a { background-position: -204px -320px; }
._gc_emoji._u1f41b { background-position: -238px -320px; }
._gc_emoji._u1f41c { background-position: -272px -320px; }
._gc_emoji._u1f41d { background-position: -306px -320px; }
._gc_emoji._u1f41e { background-position: -340px -320px; }
._gc_emoji._u1f41f { background-position: -374px -320px; }
._gc_emoji._u1f420 { background-position: -408px -320px; }
._gc_emoji._u1f421 { background-position: -442px -320px; }
._gc_emoji._u1f422 { background-position: -476px -320px; }
._gc_emoji._u1f423 { background-position: -510px -320px; }
._gc_emoji._u1f424 { background-position: -544px -320px; }
._gc_emoji._u1f425 { background-position: -578px -320px; }
._gc_emoji._u1f426 { background-position: -612px -320px; }
._gc_emoji._u1f427 { background-position: -646px -320px; }
._gc_emoji._u1f428 { background-position: -680px -320px; }
._gc_emoji._u1f429 { background-position: -714px -320px; }
._gc_emoji._u1f42a { background-position: -748px -320px; }
._gc_emoji._u1f42b { background-position: -782px -320px; }
._gc_emoji._u1f42c { background-position: -816px -320px; }
._gc_emoji._u1f42d { background-position: -850px -320px; }
._gc_emoji._u1f42e { background-position: -884px -320px; }
._gc_emoji._u1f42f { background-position: -918px -320px; }
._gc_emoji._u1f430 { background-position: -952px -320px; }
._gc_emoji._u1f431 { background-position: -0px -352px; }
._gc_emoji._u1f432 { background-position: -34px -352px; }
._gc_emoji._u1f433 { background-position: -68px -352px; }
._gc_emoji._u1f434 { background-position: -102px -352px; }
._gc_emoji._u1f435 { background-position: -136px -352px; }
._gc_emoji._u1f436 { background-position: -170px -352px; }
._gc_emoji._u1f437 { background-position: -204px -352px; }
._gc_emoji._u1f438 { background-position: -238px -352px; }
._gc_emoji._u1f439 { background-position: -272px -352px; }
._gc_emoji._u1f43a { background-position: -306px -352px; }
._gc_emoji._u1f43b { background-position: -340px -352px; }
._gc_emoji._u1f43c { background-position: -374px -352px; }
._gc_emoji._u1f43d { background-position: -408px -352px; }
._gc_emoji._u1f43e { background-position: -442px -352px; }
._gc_emoji._u1f440 { background-position: -476px -352px; }
._gc_emoji._u1f442 { background-position: -510px -352px; }
._gc_emoji._u1f443 { background-position: -544px -352px; }
._gc_emoji._u1f444 { background-position: -578px -352px; }
._gc_emoji._u1f445 { background-position: -612px -352px; }
._gc_emoji._u1f446 { background-position: -646px -352px; }
._gc_emoji._u1f447 { background-position: -680px -352px; }
._gc_emoji._u1f448 { background-position: -714px -352px; }
._gc_emoji._u1f449 { background-position: -748px -352px; }
._gc_emoji._u1f44a { background-position: -782px -352px; }
._gc_emoji._u1f44b { background-position: -816px -352px; }
._gc_emoji._u1f44c { background-position: -850px -352px; }
._gc_emoji._u1f44d { background-position: -884px -352px; }
._gc_emoji._u1f44e { background-position: -918px -352px; }
._gc_emoji._u1f44f { background-position: -952px -352px; }
._gc_emoji._u1f450 { background-position: -0px -384px; }
._gc_emoji._u1f451 { background-position: -34px -384px; }
._gc_emoji._u1f452 { background-position: -68px -384px; }
._gc_emoji._u1f453 { background-position: -102px -384px; }
._gc_emoji._u1f454 { background-position: -136px -384px; }
._gc_emoji._u1f455 { background-position: -170px -384px; }
._gc_emoji._u1f456 { background-position: -204px -384px; }
._gc_emoji._u1f457 { background-position: -238px -384px; }
._gc_emoji._u1f458 { background-position: -272px -384px; }
._gc_emoji._u1f459 { background-position: -306px -384px; }
._gc_emoji._u1f45a { background-position: -340px -384px; }
._gc_emoji._u1f45b { background-position: -374px -384px; }
._gc_emoji._u1f45c { background-position: -408px -384px; }
._gc_emoji._u1f45d { background-position: -442px -384px; }
._gc_emoji._u1f45e { background-position: -476px -384px; }
._gc_emoji._u1f45f { background-position: -510px -384px; }
._gc_emoji._u1f460 { background-position: -544px -384px; }
._gc_emoji._u1f461 { background-position: -578px -384px; }
._gc_emoji._u1f462 { background-position: -612px -384px; }
._gc_emoji._u1f463 { background-position: -646px -384px; }
._gc_emoji._u1f464 { background-position: -680px -384px; }
._gc_emoji._u1f465 { background-position: -714px -384px; }
._gc_emoji._u1f466 { background-position: -748px -384px; }
._gc_emoji._u1f467 { background-position: -782px -384px; }
._gc_emoji._u1f468 { background-position: -816px -384px; }
._gc_emoji._u1f469 { background-position: -850px -384px; }
._gc_emoji._u1f46a { background-position: -884px -384px; }
._gc_emoji._u1f46b { background-position: -918px -384px; }
._gc_emoji._u1f46c { background-position: -952px -384px; }
._gc_emoji._u1f46d { background-position: -0px -416px; }
._gc_emoji._u1f46e { background-position: -34px -416px; }
._gc_emoji._u1f46f { background-position: -68px -416px; }
._gc_emoji._u1f470 { background-position: -102px -416px; }
._gc_emoji._u1f471 { background-position: -136px -416px; }
._gc_emoji._u1f472 { background-position: -170px -416px; }
._gc_emoji._u1f473 { background-position: -204px -416px; }
._gc_emoji._u1f474 { background-position: -238px -416px; }
._gc_emoji._u1f475 { background-position: -272px -416px; }
._gc_emoji._u1f476 { background-position: -306px -416px; }
._gc_emoji._u1f477 { background-position: -340px -416px; }
._gc_emoji._u1f478 { background-position: -374px -416px; }
._gc_emoji._u1f479 { background-position: -408px -416px; }
._gc_emoji._u1f47a { background-position: -442px -416px; }
._gc_emoji._u1f47b { background-position: -476px -416px; }
._gc_emoji._u1f47c { background-position: -510px -416px; }
._gc_emoji._u1f47d { background-position: -544px -416px; }
._gc_emoji._u1f47e { background-position: -578px -416px; }
._gc_emoji._u1f47f { background-position: -612px -416px; }
._gc_emoji._u1f480 { background-position: -646px -416px; }
._gc_emoji._u1f481 { background-position: -680px -416px; }
._gc_emoji._u1f482 { background-position: -714px -416px; }
._gc_emoji._u1f483 { background-position: -748px -416px; }
._gc_emoji._u1f484 { background-position: -782px -416px; }
._gc_emoji._u1f485 { background-position: -816px -416px; }
._gc_emoji._u1f486 { background-position: -850px -416px; }
._gc_emoji._u1f487 { background-position: -884px -416px; }
._gc_emoji._u1f488 { background-position: -918px -416px; }
._gc_emoji._u1f489 { background-position: -952px -416px; }
._gc_emoji._u1f48a { background-position: -0px -448px; }
._gc_emoji._u1f48b { background-position: -34px -448px; }
._gc_emoji._u1f48c { background-position: -68px -448px; }
._gc_emoji._u1f48d { background-position: -102px -448px; }
._gc_emoji._u1f48e { background-position: -136px -448px; }
._gc_emoji._u1f48f { background-position: -170px -448px; }
._gc_emoji._u1f490 { background-position: -204px -448px; }
._gc_emoji._u1f491 { background-position: -238px -448px; }
._gc_emoji._u1f492 { background-position: -272px -448px; }
._gc_emoji._u1f493 { background-position: -306px -448px; }
._gc_emoji._u1f494 { background-position: -340px -448px; }
._gc_emoji._u1f495 { background-position: -374px -448px; }
._gc_emoji._u1f496 { background-position: -408px -448px; }
._gc_emoji._u1f497 { background-position: -442px -448px; }
._gc_emoji._u1f498 { background-position: -476px -448px; }
._gc_emoji._u1f499 { background-position: -510px -448px; }
._gc_emoji._u1f49a { background-position: -544px -448px; }
._gc_emoji._u1f49b { background-position: -578px -448px; }
._gc_emoji._u1f49c { background-position: -612px -448px; }
._gc_emoji._u1f49d { background-position: -646px -448px; }
._gc_emoji._u1f49e { background-position: -680px -448px; }
._gc_emoji._u1f49f { background-position: -714px -448px; }
._gc_emoji._u1f4a0 { background-position: -748px -448px; }
._gc_emoji._u1f4a1 { background-position: -782px -448px; }
._gc_emoji._u1f4a2 { background-position: -816px -448px; }
._gc_emoji._u1f4a3 { background-position: -850px -448px; }
._gc_emoji._u1f4a4 { background-position: -884px -448px; }
._gc_emoji._u1f4a5 { background-position: -918px -448px; }
._gc_emoji._u1f4a6 { background-position: -952px -448px; }
._gc_emoji._u1f4a7 { background-position: -0px -480px; }
._gc_emoji._u1f4a8 { background-position: -34px -480px; }
._gc_emoji._u1f4a9 { background-position: -68px -480px; }
._gc_emoji._u1f4aa { background-position: -102px -480px; }
._gc_emoji._u1f4ab { background-position: -136px -480px; }
._gc_emoji._u1f4ac { background-position: -170px -480px; }
._gc_emoji._u1f4ad { background-position: -204px -480px; }
._gc_emoji._u1f4ae { background-position: -238px -480px; }
._gc_emoji._u1f4af { background-position: -272px -480px; }
._gc_emoji._u1f4b0 { background-position: -306px -480px; }
._gc_emoji._u1f4b1 { background-position: -340px -480px; }
._gc_emoji._u1f4b2 { background-position: -374px -480px; }
._gc_emoji._u1f4b3 { background-position: -408px -480px; }
._gc_emoji._u1f4b4 { background-position: -442px -480px; }
._gc_emoji._u1f4b5 { background-position: -476px -480px; }
._gc_emoji._u1f4b6 { background-position: -510px -480px; }
._gc_emoji._u1f4b7 { background-position: -544px -480px; }
._gc_emoji._u1f4b8 { background-position: -578px -480px; }
._gc_emoji._u1f4b9 { background-position: -612px -480px; }
._gc_emoji._u1f4ba { background-position: -646px -480px; }
._gc_emoji._u1f4bb { background-position: -680px -480px; }
._gc_emoji._u1f4bc { background-position: -714px -480px; }
._gc_emoji._u1f4bd { background-position: -748px -480px; }
._gc_emoji._u1f4be { background-position: -782px -480px; }
._gc_emoji._u1f4bf { background-position: -816px -480px; }
._gc_emoji._u1f4c0 { background-position: -850px -480px; }
._gc_emoji._u1f4c1 { background-position: -884px -480px; }
._gc_emoji._u1f4c2 { background-position: -918px -480px; }
._gc_emoji._u1f4c3 { background-position: -952px -480px; }
._gc_emoji._u1f4c4 { background-position: -0px -512px; }
._gc_emoji._u1f4c5 { background-position: -34px -512px; }
._gc_emoji._u1f4c6 { background-position: -68px -512px; }
._gc_emoji._u1f4c7 { background-position: -102px -512px; }
._gc_emoji._u1f4c8 { background-position: -136px -512px; }
._gc_emoji._u1f4c9 { background-position: -170px -512px; }
._gc_emoji._u1f4ca { background-position: -204px -512px; }
._gc_emoji._u1f4cb { background-position: -238px -512px; }
._gc_emoji._u1f4cc { background-position: -272px -512px; }
._gc_emoji._u1f4cd { background-position: -306px -512px; }
._gc_emoji._u1f4ce { background-position: -340px -512px; }
._gc_emoji._u1f4cf { background-position: -374px -512px; }
._gc_emoji._u1f4d0 { background-position: -408px -512px; }
._gc_emoji._u1f4d1 { background-position: -442px -512px; }
._gc_emoji._u1f4d2 { background-position: -476px -512px; }
._gc_emoji._u1f4d3 { background-position: -510px -512px; }
._gc_emoji._u1f4d4 { background-position: -544px -512px; }
._gc_emoji._u1f4d5 { background-position: -578px -512px; }
._gc_emoji._u1f4d6 { background-position: -612px -512px; }
._gc_emoji._u1f4d7 { background-position: -646px -512px; }
._gc_emoji._u1f4d8 { background-position: -680px -512px; }
._gc_emoji._u1f4d9 { background-position: -714px -512px; }
._gc_emoji._u1f4da { background-position: -748px -512px; }
._gc_emoji._u1f4db { background-position: -782px -512px; }
._gc_emoji._u1f4dc { background-position: -816px -512px; }
._gc_emoji._u1f4dd { background-position: -850px -512px; }
._gc_emoji._u1f4de { background-position: -884px -512px; }
._gc_emoji._u1f4df { background-position: -918px -512px; }
._gc_emoji._u1f4e0 { background-position: -952px -512px; }
._gc_emoji._u1f4e1 { background-position: -0px -544px; }
._gc_emoji._u1f4e2 { background-position: -34px -544px; }
._gc_emoji._u1f4e3 { background-position: -68px -544px; }
._gc_emoji._u1f4e4 { background-position: -102px -544px; }
._gc_emoji._u1f4e5 { background-position: -136px -544px; }
._gc_emoji._u1f4e6 { background-position: -170px -544px; }
._gc_emoji._u1f4e7 { background-position: -204px -544px; }
._gc_emoji._u1f4e8 { background-position: -238px -544px; }
._gc_emoji._u1f4e9 { background-position: -272px -544px; }
._gc_emoji._u1f4ea { background-position: -306px -544px; }
._gc_emoji._u1f4eb { background-position: -340px -544px; }
._gc_emoji._u1f4ec { background-position: -374px -544px; }
._gc_emoji._u1f4ed { background-position: -408px -544px; }
._gc_emoji._u1f4ee { background-position: -442px -544px; }
._gc_emoji._u1f4ef { background-position: -476px -544px; }
._gc_emoji._u1f4f0 { background-position: -510px -544px; }
._gc_emoji._u1f4f1 { background-position: -544px -544px; }
._gc_emoji._u1f4f2 { background-position: -578px -544px; }
._gc_emoji._u1f4f3 { background-position: -612px -544px; }
._gc_emoji._u1f4f4 { background-position: -646px -544px; }
._gc_emoji._u1f4f5 { background-position: -680px -544px; }
._gc_emoji._u1f4f6 { background-position: -714px -544px; }
._gc_emoji._u1f4f7 { background-position: -748px -544px; }
._gc_emoji._u1f4f9 { background-position: -782px -544px; }
._gc_emoji._u1f4fa { background-position: -816px -544px; }
._gc_emoji._u1f4fb { background-position: -850px -544px; }
._gc_emoji._u1f4fc { background-position: -884px -544px; }
._gc_emoji._u1f500 { background-position: -918px -544px; }
._gc_emoji._u1f501 { background-position: -952px -544px; }
._gc_emoji._u1f502 { background-position: -0px -576px; }
._gc_emoji._u1f503 { background-position: -34px -576px; }
._gc_emoji._u1f504 { background-position: -68px -576px; }
._gc_emoji._u1f505 { background-position: -102px -576px; }
._gc_emoji._u1f506 { background-position: -136px -576px; }
._gc_emoji._u1f507 { background-position: -170px -576px; }
._gc_emoji._u1f508 { background-position: -204px -576px; }
._gc_emoji._u1f509 { background-position: -238px -576px; }
._gc_emoji._u1f50a { background-position: -272px -576px; }
._gc_emoji._u1f50b { background-position: -306px -576px; }
._gc_emoji._u1f50c { background-position: -340px -576px; }
._gc_emoji._u1f50d { background-position: -374px -576px; }
._gc_emoji._u1f50e { background-position: -408px -576px; }
._gc_emoji._u1f50f { background-position: -442px -576px; }
._gc_emoji._u1f510 { background-position: -476px -576px; }
._gc_emoji._u1f511 { background-position: -510px -576px; }
._gc_emoji._u1f512 { background-position: -544px -576px; }
._gc_emoji._u1f513 { background-position: -578px -576px; }
._gc_emoji._u1f514 { background-position: -612px -576px; }
._gc_emoji._u1f515 { background-position: -646px -576px; }
._gc_emoji._u1f516 { background-position: -680px -576px; }
._gc_emoji._u1f517 { background-position: -714px -576px; }
._gc_emoji._u1f518 { background-position: -748px -576px; }
._gc_emoji._u1f519 { background-position: -782px -576px; }
._gc_emoji._u1f51a { background-position: -816px -576px; }
._gc_emoji._u1f51b { background-position: -850px -576px; }
._gc_emoji._u1f51c { background-position: -884px -576px; }
._gc_emoji._u1f51d { background-position: -918px -576px; }
._gc_emoji._u1f51e { background-position: -952px -576px; }
._gc_emoji._u1f51f { background-position: -0px -608px; }
._gc_emoji._u1f520 { background-position: -34px -608px; }
._gc_emoji._u1f521 { background-position: -68px -608px; }
._gc_emoji._u1f522 { background-position: -102px -608px; }
._gc_emoji._u1f523 { background-position: -136px -608px; }
._gc_emoji._u1f524 { background-position: -170px -608px; }
._gc_emoji._u1f525 { background-position: -204px -608px; }
._gc_emoji._u1f526 { background-position: -238px -608px; }
._gc_emoji._u1f527 { background-position: -272px -608px; }
._gc_emoji._u1f528 { background-position: -306px -608px; }
._gc_emoji._u1f529 { background-position: -340px -608px; }
._gc_emoji._u1f52a { background-position: -374px -608px; }
._gc_emoji._u1f52b { background-position: -408px -608px; }
._gc_emoji._u1f52c { background-position: -442px -608px; }
._gc_emoji._u1f52d { background-position: -476px -608px; }
._gc_emoji._u1f52e { background-position: -510px -608px; }
._gc_emoji._u1f52f { background-position: -544px -608px; }
._gc_emoji._u1f530 { background-position: -578px -608px; }
._gc_emoji._u1f531 { background-position: -612px -608px; }
._gc_emoji._u1f532 { background-position: -646px -608px; }
._gc_emoji._u1f533 { background-position: -680px -608px; }
._gc_emoji._u1f534 { background-position: -714px -608px; }
._gc_emoji._u1f535 { background-position: -748px -608px; }
._gc_emoji._u1f536 { background-position: -782px -608px; }
._gc_emoji._u1f537 { background-position: -816px -608px; }
._gc_emoji._u1f538 { background-position: -850px -608px; }
._gc_emoji._u1f539 { background-position: -884px -608px; }
._gc_emoji._u1f53a { background-position: -918px -608px; }
._gc_emoji._u1f53b { background-position: -952px -608px; }
._gc_emoji._u1f53c { background-position: -0px -640px; }
._gc_emoji._u1f53d { background-position: -34px -640px; }
._gc_emoji._u1f550 { background-position: -68px -640px; }
._gc_emoji._u1f551 { background-position: -102px -640px; }
._gc_emoji._u1f552 { background-position: -136px -640px; }
._gc_emoji._u1f553 { background-position: -170px -640px; }
._gc_emoji._u1f554 { background-position: -204px -640px; }
._gc_emoji._u1f555 { background-position: -238px -640px; }
._gc_emoji._u1f556 { background-position: -272px -640px; }
._gc_emoji._u1f557 { background-position: -306px -640px; }
._gc_emoji._u1f558 { background-position: -340px -640px; }
._gc_emoji._u1f559 { background-position: -374px -640px; }
._gc_emoji._u1f55a { background-position: -408px -640px; }
._gc_emoji._u1f55b { background-position: -442px -640px; }
._gc_emoji._u1f55c { background-position: -476px -640px; }
._gc_emoji._u1f55d { background-position: -510px -640px; }
._gc_emoji._u1f55e { background-position: -544px -640px; }
._gc_emoji._u1f55f { background-position: -578px -640px; }
._gc_emoji._u1f560 { background-position: -612px -640px; }
._gc_emoji._u1f561 { background-position: -646px -640px; }
._gc_emoji._u1f562 { background-position: -680px -640px; }
._gc_emoji._u1f563 { background-position: -714px -640px; }
._gc_emoji._u1f564 { background-position: -748px -640px; }
._gc_emoji._u1f565 { background-position: -782px -640px; }
._gc_emoji._u1f566 { background-position: -816px -640px; }
._gc_emoji._u1f567 { background-position: -850px -640px; }
._gc_emoji._u1f5fb { background-position: -884px -640px; }
._gc_emoji._u1f5fc { background-position: -918px -640px; }
._gc_emoji._u1f5fd { background-position: -952px -640px; }
._gc_emoji._u1f5fe { background-position: -0px -672px; }
._gc_emoji._u1f5ff { background-position: -34px -672px; }
._gc_emoji._u1f600 { background-position: -68px -672px; }
._gc_emoji._u1f601 { background-position: -102px -672px; }
._gc_emoji._u1f602 { background-position: -136px -672px; }
._gc_emoji._u1f603 { background-position: -170px -672px; }
._gc_emoji._u1f604 { background-position: -204px -672px; }
._gc_emoji._u1f605 { background-position: -238px -672px; }
._gc_emoji._u1f606 { background-position: -272px -672px; }
._gc_emoji._u1f607 { background-position: -306px -672px; }
._gc_emoji._u1f608 { background-position: -340px -672px; }
._gc_emoji._u1f609 { background-position: -374px -672px; }
._gc_emoji._u1f60a { background-position: -408px -672px; }
._gc_emoji._u1f60b { background-position: -442px -672px; }
._gc_emoji._u1f60c { background-position: -476px -672px; }
._gc_emoji._u1f60d { background-position: -510px -672px; }
._gc_emoji._u1f60e { background-position: -544px -672px; }
._gc_emoji._u1f60f { background-position: -578px -672px; }
._gc_emoji._u1f610 { background-position: -612px -672px; }
._gc_emoji._u1f611 { background-position: -646px -672px; }
._gc_emoji._u1f612 { background-position: -680px -672px; }
._gc_emoji._u1f613 { background-position: -714px -672px; }
._gc_emoji._u1f614 { background-position: -748px -672px; }
._gc_emoji._u1f615 { background-position: -782px -672px; }
._gc_emoji._u1f616 { background-position: -816px -672px; }
._gc_emoji._u1f617 { background-position: -850px -672px; }
._gc_emoji._u1f618 { background-position: -884px -672px; }
._gc_emoji._u1f619 { background-position: -918px -672px; }
._gc_emoji._u1f61a { background-position: -952px -672px; }
._gc_emoji._u1f61b { background-position: -0px -704px; }
._gc_emoji._u1f61c { background-position: -34px -704px; }
._gc_emoji._u1f61d { background-position: -68px -704px; }
._gc_emoji._u1f61e { background-position: -102px -704px; }
._gc_emoji._u1f61f { background-position: -136px -704px; }
._gc_emoji._u1f620 { background-position: -170px -704px; }
._gc_emoji._u1f621 { background-position: -204px -704px; }
._gc_emoji._u1f622 { background-position: -238px -704px; }
._gc_emoji._u1f623 { background-position: -272px -704px; }
._gc_emoji._u1f624 { background-position: -306px -704px; }
._gc_emoji._u1f625 { background-position: -340px -704px; }
._gc_emoji._u1f626 { background-position: -374px -704px; }
._gc_emoji._u1f627 { background-position: -408px -704px; }
._gc_emoji._u1f628 { background-position: -442px -704px; }
._gc_emoji._u1f629 { background-position: -476px -704px; }
._gc_emoji._u1f62a { background-position: -510px -704px; }
._gc_emoji._u1f62b { background-position: -544px -704px; }
._gc_emoji._u1f62c { background-position: -578px -704px; }
._gc_emoji._u1f62d { background-position: -612px -704px; }
._gc_emoji._u1f62e { background-position: -646px -704px; }
._gc_emoji._u1f62f { background-position: -680px -704px; }
._gc_emoji._u1f630 { background-position: -714px -704px; }
._gc_emoji._u1f631 { background-position: -748px -704px; }
._gc_emoji._u1f632 { background-position: -782px -704px; }
._gc_emoji._u1f633 { background-position: -816px -704px; }
._gc_emoji._u1f634 { background-position: -850px -704px; }
._gc_emoji._u1f635 { background-position: -884px -704px; }
._gc_emoji._u1f636 { background-position: -918px -704px; }
._gc_emoji._u1f637 { background-position: -952px -704px; }
._gc_emoji._u1f638 { background-position: -0px -736px; }
._gc_emoji._u1f639 { background-position: -34px -736px; }
._gc_emoji._u1f63a { background-position: -68px -736px; }
._gc_emoji._u1f63b { background-position: -102px -736px; }
._gc_emoji._u1f63c { background-position: -136px -736px; }
._gc_emoji._u1f63d { background-position: -170px -736px; }
._gc_emoji._u1f63e { background-position: -204px -736px; }
._gc_emoji._u1f63f { background-position: -238px -736px; }
._gc_emoji._u1f640 { background-position: -272px -736px; }
._gc_emoji._u1f645 { background-position: -306px -736px; }
._gc_emoji._u1f646 { background-position: -340px -736px; }
._gc_emoji._u1f647 { background-position: -374px -736px; }
._gc_emoji._u1f648 { background-position: -408px -736px; }
._gc_emoji._u1f649 { background-position: -442px -736px; }
._gc_emoji._u1f64a { background-position: -476px -736px; }
._gc_emoji._u1f64b { background-position: -510px -736px; }
._gc_emoji._u1f64c { background-position: -544px -736px; }
._gc_emoji._u1f64d { background-position: -578px -736px; }
._gc_emoji._u1f64e { background-position: -612px -736px; }
._gc_emoji._u1f64f { background-position: -646px -736px; }
._gc_emoji._u1f680 { background-position: -680px -736px; }
._gc_emoji._u1f681 { background-position: -714px -736px; }
._gc_emoji._u1f682 { background-position: -748px -736px; }
._gc_emoji._u1f683 { background-position: -782px -736px; }
._gc_emoji._u1f684 { background-position: -816px -736px; }
._gc_emoji._u1f685 { background-position: -850px -736px; }
._gc_emoji._u1f686 { background-position: -884px -736px; }
._gc_emoji._u1f687 { background-position: -918px -736px; }
._gc_emoji._u1f688 { background-position: -952px -736px; }
._gc_emoji._u1f689 { background-position: -0px -768px; }
._gc_emoji._u1f68a { background-position: -34px -768px; }
._gc_emoji._u1f68b { background-position: -68px -768px; }
._gc_emoji._u1f68c { background-position: -102px -768px; }
._gc_emoji._u1f68d { background-position: -136px -768px; }
._gc_emoji._u1f68e { background-position: -170px -768px; }
._gc_emoji._u1f68f { background-position: -204px -768px; }
._gc_emoji._u1f690 { background-position: -238px -768px; }
._gc_emoji._u1f691 { background-position: -272px -768px; }
._gc_emoji._u1f692 { background-position: -306px -768px; }
._gc_emoji._u1f693 { background-position: -340px -768px; }
._gc_emoji._u1f694 { background-position: -374px -768px; }
._gc_emoji._u1f695 { background-position: -408px -768px; }
._gc_emoji._u1f696 { background-position: -442px -768px; }
._gc_emoji._u1f697 { background-position: -476px -768px; }
._gc_emoji._u1f698 { background-position: -510px -768px; }
._gc_emoji._u1f699 { background-position: -544px -768px; }
._gc_emoji._u1f69a { background-position: -578px -768px; }
._gc_emoji._u1f69b { background-position: -612px -768px; }
._gc_emoji._u1f69c { background-position: -646px -768px; }
._gc_emoji._u1f69d { background-position: -680px -768px; }
._gc_emoji._u1f69e { background-position: -714px -768px; }
._gc_emoji._u1f69f { background-position: -748px -768px; }
._gc_emoji._u1f6a0 { background-position: -782px -768px; }
._gc_emoji._u1f6a1 { background-position: -816px -768px; }
._gc_emoji._u1f6a2 { background-position: -850px -768px; }
._gc_emoji._u1f6a3 { background-position: -884px -768px; }
._gc_emoji._u1f6a4 { background-position: -918px -768px; }
._gc_emoji._u1f6a5 { background-position: -952px -768px; }
._gc_emoji._u1f6a6 { background-position: -0px -800px; }
._gc_emoji._u1f6a7 { background-position: -34px -800px; }
._gc_emoji._u1f6a8 { background-position: -68px -800px; }
._gc_emoji._u1f6a9 { background-position: -102px -800px; }
._gc_emoji._u1f6aa { background-position: -136px -800px; }
._gc_emoji._u1f6ab { background-position: -170px -800px; }
._gc_emoji._u1f6ac { background-position: -204px -800px; }
._gc_emoji._u1f6ad { background-position: -238px -800px; }
._gc_emoji._u1f6ae { background-position: -272px -800px; }
._gc_emoji._u1f6af { background-position: -306px -800px; }
._gc_emoji._u1f6b0 { background-position: -340px -800px; }
._gc_emoji._u1f6b1 { background-position: -374px -800px; }
._gc_emoji._u1f6b2 { background-position: -408px -800px; }
._gc_emoji._u1f6b3 { background-position: -442px -800px; }
._gc_emoji._u1f6b4 { background-position: -476px -800px; }
._gc_emoji._u1f6b5 { background-position: -510px -800px; }
._gc_emoji._u1f6b6 { background-position: -544px -800px; }
._gc_emoji._u1f6b7 { background-position: -578px -800px; }
._gc_emoji._u1f6b8 { background-position: -612px -800px; }
._gc_emoji._u1f6b9 { background-position: -646px -800px; }
._gc_emoji._u1f6ba { background-position: -680px -800px; }
._gc_emoji._u1f6bb { background-position: -714px -800px; }
._gc_emoji._u1f6bc { background-position: -748px -800px; }
._gc_emoji._u1f6bd { background-position: -782px -800px; }
._gc_emoji._u1f6be { background-position: -816px -800px; }
._gc_emoji._u1f6bf { background-position: -850px -800px; }
._gc_emoji._u1f6c0 { background-position: -884px -800px; }
._gc_emoji._u1f6c1 { background-position: -918px -800px; }
._gc_emoji._u1f6c2 { background-position: -952px -800px; }
._gc_emoji._u1f6c3 { background-position: -0px -832px; }
._gc_emoji._u1f6c4 { background-position: -34px -832px; }
._gc_emoji._u1f6c5 { background-position: -68px -832px; }
._gc_emoji._u203c { background-position: -102px -832px; }
._gc_emoji._u2049 { background-position: -136px -832px; }
._gc_emoji._u20e3 { background-position: -170px -832px; }
._gc_emoji._u2122 { background-position: -204px -832px; }
._gc_emoji._u2139 { background-position: -238px -832px; }
._gc_emoji._u2194 { background-position: -272px -832px; }
._gc_emoji._u2195 { background-position: -306px -832px; }
._gc_emoji._u2196 { background-position: -340px -832px; }
._gc_emoji._u2197 { background-position: -374px -832px; }
._gc_emoji._u2198 { background-position: -408px -832px; }
._gc_emoji._u2199 { background-position: -442px -832px; }
._gc_emoji._u21a9 { background-position: -476px -832px; }
._gc_emoji._u21aa { background-position: -510px -832px; }
._gc_emoji._u231a { background-position: -544px -832px; }
._gc_emoji._u231b { background-position: -578px -832px; }
._gc_emoji._u23e9 { background-position: -612px -832px; }
._gc_emoji._u23ea { background-position: -646px -832px; }
._gc_emoji._u23eb { background-position: -680px -832px; }
._gc_emoji._u23ec { background-position: -714px -832px; }
._gc_emoji._u23f0 { background-position: -748px -832px; }
._gc_emoji._u23f3 { background-position: -782px -832px; }
._gc_emoji._u24c2 { background-position: -816px -832px; }
._gc_emoji._u25aa { background-position: -850px -832px; }
._gc_emoji._u25ab { background-position: -884px -832px; }
._gc_emoji._u25b6 { background-position: -918px -832px; }
._gc_emoji._u25c0 { background-position: -952px -832px; }
._gc_emoji._u25fb { background-position: -0px -864px; }
._gc_emoji._u25fc { background-position: -34px -864px; }
._gc_emoji._u25fd { background-position: -68px -864px; }
._gc_emoji._u25fe { background-position: -102px -864px; }
._gc_emoji._u2600 { background-position: -136px -864px; }
._gc_emoji._u2601 { background-position: -170px -864px; }
._gc_emoji._u260e { background-position: -204px -864px; }
._gc_emoji._u2611 { background-position: -238px -864px; }
._gc_emoji._u2614 { background-position: -272px -864px; }
._gc_emoji._u2615 { background-position: -306px -864px; }
._gc_emoji._u261d { background-position: -340px -864px; }
._gc_emoji._u263a { background-position: -374px -864px; }
._gc_emoji._u2648 { background-position: -408px -864px; }
._gc_emoji._u2649 { background-position: -442px -864px; }
._gc_emoji._u264a { background-position: -476px -864px; }
._gc_emoji._u264b { background-position: -510px -864px; }
._gc_emoji._u264c { background-position: -544px -864px; }
._gc_emoji._u264d { background-position: -578px -864px; }
._gc_emoji._u264e { background-position: -612px -864px; }
._gc_emoji._u264f { background-position: -646px -864px; }
._gc_emoji._u2650 { background-position: -680px -864px; }
._gc_emoji._u2651 { background-position: -714px -864px; }
._gc_emoji._u2652 { background-position: -748px -864px; }
._gc_emoji._u2653 { background-position: -782px -864px; }
._gc_emoji._u2660 { background-position: -816px -864px; }
._gc_emoji._u2663 { background-position: -850px -864px; }
._gc_emoji._u2665 { background-position: -884px -864px; }
._gc_emoji._u2666 { background-position: -918px -864px; }
._gc_emoji._u2668 { background-position: -952px -864px; }
._gc_emoji._u267b { background-position: -0px -896px; }
._gc_emoji._u267f { background-position: -34px -896px; }
._gc_emoji._u2693 { background-position: -68px -896px; }
._gc_emoji._u26a0 { background-position: -102px -896px; }
._gc_emoji._u26a1 { background-position: -136px -896px; }
._gc_emoji._u26aa { background-position: -170px -896px; }
._gc_emoji._u26ab { background-position: -204px -896px; }
._gc_emoji._u26bd { background-position: -238px -896px; }
._gc_emoji._u26be { background-position: -272px -896px; }
._gc_emoji._u26c4 { background-position: -306px -896px; }
._gc_emoji._u26c5 { background-position: -340px -896px; }
._gc_emoji._u26ce { background-position: -374px -896px; }
._gc_emoji._u26d4 { background-position: -408px -896px; }
._gc_emoji._u26ea { background-position: -442px -896px; }
._gc_emoji._u26f2 { background-position: -476px -896px; }
._gc_emoji._u26f3 { background-position: -510px -896px; }
._gc_emoji._u26f5 { background-position: -544px -896px; }
._gc_emoji._u26fa { background-position: -578px -896px; }
._gc_emoji._u26fd { background-position: -612px -896px; }
._gc_emoji._u2702 { background-position: -646px -896px; }
._gc_emoji._u2705 { background-position: -680px -896px; }
._gc_emoji._u2708 { background-position: -714px -896px; }
._gc_emoji._u2709 { background-position: -748px -896px; }
._gc_emoji._u270a { background-position: -782px -896px; }
._gc_emoji._u270b { background-position: -816px -896px; }
._gc_emoji._u270c { background-position: -850px -896px; }
._gc_emoji._u270f { background-position: -884px -896px; }
._gc_emoji._u2712 { background-position: -918px -896px; }
._gc_emoji._u2714 { background-position: -952px -896px; }
._gc_emoji._u2716 { background-position: -0px -928px; }
._gc_emoji._u2728 { background-position: -34px -928px; }
._gc_emoji._u2733 { background-position: -68px -928px; }
._gc_emoji._u2734 { background-position: -102px -928px; }
._gc_emoji._u2744 { background-position: -136px -928px; }
._gc_emoji._u2747 { background-position: -170px -928px; }
._gc_emoji._u274c { background-position: -204px -928px; }
._gc_emoji._u274e { background-position: -238px -928px; }
._gc_emoji._u2753 { background-position: -272px -928px; }
._gc_emoji._u2754 { background-position: -306px -928px; }
._gc_emoji._u2755 { background-position: -340px -928px; }
._gc_emoji._u2757 { background-position: -374px -928px; }
._gc_emoji._u2764 { background-position: -408px -928px; }
._gc_emoji._u2795 { background-position: -442px -928px; }
._gc_emoji._u2796 { background-position: -476px -928px; }
._gc_emoji._u2797 { background-position: -510px -928px; }
._gc_emoji._u27a1 { background-position: -544px -928px; }
._gc_emoji._u27b0 { background-position: -578px -928px; }
._gc_emoji._u27bf { background-position: -612px -928px; }
._gc_emoji._u2934 { background-position: -646px -928px; }
._gc_emoji._u2935 { background-position: -680px -928px; }
._gc_emoji._u2b05 { background-position: -714px -928px; }
._gc_emoji._u2b06 { background-position: -748px -928px; }
._gc_emoji._u2b07 { background-position: -782px -928px; }
._gc_emoji._u2b1b { background-position: -816px -928px; }
._gc_emoji._u2b1c { background-position: -850px -928px; }
._gc_emoji._u2b50 { background-position: -884px -928px; }
._gc_emoji._u2b55 { background-position: -918px -928px; }
._gc_emoji._u3030 { background-position: -952px -928px; }
._gc_emoji._u303d { background-position: -0px -960px; }
._gc_emoji._u3297 { background-position: -34px -960px; }
._gc_emoji._u3299 { background-position: -68px -960px; }
